html, body,#map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}

#panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}
#directions-panel {
        height: 100%;
        float: center;
        width: 100%;
        overflow: auto;
      }

      #map-canvas {
        margin-right: 0px;
      }

      
    #control {
        position: left;
        background: #fff;
        padding: 1px;
        font-size: 14px;
        font-family: Arial;
        border: 1px solid #ccc;
        
      }


     